.navbar__items{
    padding-left: 88px;
    padding-right: 20px;
    margin-top: 16px;
}

.navbar__logo{
    width: 40px;
    height: 40px;
}

.navbar__logo:hover{
    cursor: pointer;
}

.navbar__item{
    display: flex;
    align-items: center;
}

.navbar__option{
    margin-left: 60px;
    color: #212529;
    font-weight: 600; 
    text-decoration: underline; 
    text-underline-offset: 15px; 
    text-decoration-color: #00754a;
    text-decoration-thickness: 2px;
}

.navbar__option:hover{
    cursor: pointer;
}

